.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.537);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    z-index: 10;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    animation: trans ease-in-out 0.15s;
    transition: 0.15s ease-in-out ;
}
@keyframes trans{
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}