.utility {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.utility_button button {
    width: 100px;
    height: 40px;
    font-size: medium;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #164BA1;
    margin-left: 10px;
}

@media screen and (max-width: 480px) {
    .utility {
        flex-direction: column;
        align-items: flex-start;
    }
    .utility_button {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .utility_button button {
        margin-right: 10px;
        margin-left: 0px;
    }
    
  }